body {
    margin:0;
    font-size: 18px;
    font-family: "Open Sans";
}

body {
    display:flex;
    min-height:100vh;
}
body > div {flex:1;}

.game-intro {
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center;
}

.logo-img {
    width: 350px;
}

.arrows-img {
    width: 150px;
}

body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#game-board {
    position:relative;
}
#game-board canvas {
    display: block;
    margin:0 auto;
    height:100vh;
}